html{background: #292929;}
*{margin: 0; padding: 0; font-family: "微软雅黑";letter-spacing: 1px;}
a{text-decoration: none;}
div{float: left;}

.container{
    position: absolute;
    width: 940px;
    height: 1326px;
    margin: auto;
    top: 0;
    right: 0;
    /* bottom: 0; */
    left: 0;
    /*background: #eee;*/
    /* border: 1px solid rgb(219, 21, 21); */
}

.icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-image: url(../resume/main-icons.jpg);
}

.left{
    width: 40%;
    height: 100%;
    background-color: #f8d9d7;
}
.left .head-icon img:nth-child(1){
    width: 200px;
    height: 260px;
    margin: 40px 80px 100px 80px;
    border: 3px solid #444440;
    border-radius: 150px;
}
#wechat{
    float: right;
    width: 135px;
    /* margin: 45px 90px -35px 110px; */
    margin: 0px;
    border: 0px solid #444440;
    /*border-radius: 150px;*/
}
.left .head-icon p{
    margin: -50px 90px 0 110px;
    font-weight: 300;
}
.left .left-bottom{
    margin: 100px 30px 0 30px;
    /* border: 1px solid #444440; */
}
.left .left-bottom div p:first-child{
    padding-left: 10px;
    background-color: #444440;
    color: #ffffff;
    width: 308px;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
}
.left .left-bottom div p:not(:first-child){
    margin: 15px 10px;
    font-weight: 300;
}
.left .left-bottom div p span{
    margin: 0 10px 0 0;
}
.right{
    width: 60%;
    height: 100%;
    background-color: #ffffff;
}
.right .right-top{
    width: 100%;
    height: 100px;
    /* border: 1px solid #000; */
}
.right .right-top .name{
    position: absolute;
    right: 415px;
    top: 25px;
    font-size: 35px;
}
.right .right-top .target-job{
    position: absolute;
    right: 358px;
    top: 75px;
    font-size: 20px;
}
.right .right-top .target-job p span:nth-child(1){
    margin: 0 15px 0 0;
    font-size: 24px;
}
.right .right-top .target-job p span:nth-child(2){
    font-weight: 500;
}
.right .right-bottom{
    width: 504px;
}
.right .right-bottom .i-title{
    width: 494px;
    background-color: #f8d9d7;
    margin: 30px 30px 0 30px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}
.right .experiencde, .right .education, .right .skills{
    width: 504px;
}
.right .education, .right .skills{
    margin-top: 10px;
}
.right .right-bottom .i-content{
    margin:15px 0 0 60px;
}
.right .right-bottom .i-content p:first-child{
    margin: 5px 0 0 0;
    font-weight: 500;
    font-size: 20px;
}
.right .right-bottom .i-content ul{
    margin:5px 35px 5px 35px;
    font-weight: 300;
    font-size: 16px;
}
.right .right-bottom .i-content ul li{
    margin: 10px 0 0 0;
}
.left .left-bottom .skills .i-content ul{
    margin:15px 5px 5px 20px;
    font-weight: 100;
    font-size: 16px;
}
.right .right-bottom .skills .i-content ul li{
    margin: 10px 0 0 0;
}
.left .left-bottom .skills .i-content ul li{
    margin: 5px 0 0 0;
}
.right .right-bottom .i-content hr{
    width: 454px;
}
.right .right-bottom .i-content p span{
    margin: 0 10px;
    font-size: 14px;
    vertical-align: 2px;
}
